@import 'Colors';

.content {
	position: relative;

	.mainContainer {
		position: relative;
		margin: 64px auto 0 auto;
		padding: 8px;
		top: 64px;
	}
	
	@media (min-width: 1160px) {
		.mainContainer {
			max-width: 810px;
		}
	}

	@media (max-width: 1160px) {
		.mainContainer {
			max-width: 530px;
			min-width: 400px;
		}
	}
	
	.loadingMask {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: -5%;
		width: 110%;
		height: 100%;
		z-index: 1000;
		padding-top: 64px;
		background: white;

		.containerError {
			font-size: 18px;
			color: $errorText;
			margin-top: 72px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.errorTitle {
				display: flex;
				align-items: center;

				span {
					margin-left: 8px;
				}
			}

			.errorDescription {
				margin-top: 16px;
				font-size: 16px;
			}
		}
	}
}

