
.content {
	position: relative;

	.mainContainer {
		position: relative;
		margin: 64px auto 0 auto;
		padding: 8px;
		top: 64px;
	}
	
	@media (min-width: 1160px) {
		.mainContainer {
			max-width: 810px;
		}
	}

	@media (max-width: 1160px) {
		.mainContainer {
			max-width: 600px;
			min-width: 400px;
		}
	}

}

